.contenedorMenu{
    display: flex;
    width: 100%;
    height: 100vh;
}

.contenedorWeb{
    background: #F0F0F0;
    width: 100%;
}

.asideContainer{
    width: 3rem;
    background: #080D13;
}
.asideNav{
    width: 3rem;
    background: #080D13;
}

.contenedorIconNav{
  color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.asideNavActive{
    position: sticky;
    background: #080D13;
}

.contenedorIconNavActive{
     margin-left: 2vw; 
     justify-content: flex-start;
}

.contenedorIconNavActive > p{
    margin-left: 18px;
    text-align: left;
    font-weight: bold;
}

.contenedorIconNavActive:hover{
   color:#FF0034;
   cursor: pointer;
}



.heroJobs > h1{
        font-size: 5rem;
}

.contenedorIconText{
    display: flex;
    align-items: center;
}

.contenedorIconSide{
    display: flex;
    align-items: center; 
    color: white;
}

.contenedorIconSide:hover{
   color:#FF0034;
   cursor: pointer;
}

.contenedorIconSide > p{
    margin-left: 10px;
    margin-right: 10px;
}

.fa-discord {
    color: white;
    font-size: 2.8vh;
}

.navbar{
    padding: 1vh 1vh;
    z-index: 5;
}

.navbar-nav{
    align-items: flex-end;
}
.navbar-dark .navbar-toggler {
    color: none;
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.link{
    cursor: pointer;
}