.logoDashBoard{
    height: 8vh;
    margin:1vh;
}

.DashBoardfotoUsuario{
    width: 3vw;
    border-radius: 50%;
}

.fotoCurso{
    width: 100%;
    height: 15vw;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.ContenedorDeLosCursos{
    display: flex;
    align-items: center;
    justify-content: center;
        height: 42vw;
}


.ContenedorPresentacion{
    display: flex;
    align-items: center;
    justify-content: center;
     background: #080d13;
}


.contenedorCurso{
    box-shadow: 1px 1px 5px 0px #000000a6;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    width: 21vw;
        margin-top: 10px;
    margin-bottom: 16px;
}

.tituloDasboard{
   text-align: center;
    font-family: "Anton";
    margin-top: 4vw;
    margin-bottom: 2vw;
}

.contenedorBtn{
    display: flex;
    justify-content: center;
    margin: 20px;

}

.btnDashBoard{
    border: none;
    background: FF0034;
    background: #FF0034;
    color: white;
    width: 11vw;
    height: 3vw;
    border-radius: 10px;
    box-shadow: 1px 1px 9px 2px #ff0034;
}

.fotoProfesor{
    width: 4vw;
    height: 4vw;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.contenedorDatosCardCurso{
    margin-left: 18px;
    margin-bottom: 14px;
    margin-top: 19px;
}

.tituloCurso{
    font-family: 'Anton', sans-serif;
}

.fotoProfesorNombre{
    display: flex;
    align-items: center;
}

.nombreProfesor {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 10px;
}
.contenedorCourseAndSideBar{
    display: flex;
        margin: 39px;
    justify-content: center;    
}
.contenedorInscripcionCursos{
    display: flex;
    align-items: center;
    top: 6vw;
    align-items: flex-start;
    flex-wrap: wrap;
}

.courseList{

    top: 0px;
}
.contenedorInfoCurso{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 16px;
    
}
.contenedorInfoCurso > h2{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}
.contenedorInfoCurso > p{
    margin-bottom: 0;
    margin-left: 10px;
}

.contenedorBtnInscripcion{
    display: flex;
    margin: 20px;
}
.contenedorAsideNav{
   width: 49vw;
    position: sticky;
     height: 48vw;
    background:#080D13;
    margin-right: 0;
    margin-left: auto;
    color: white;
    padding: 23px;
    bottom: 39px;
    top: 0px;
     overflow: overlay;
}
.titleContenedorAside{
  font-family: 'Anton', sans-serif;
}

.nameTitleAside{
        font-family: 'Roboto', sans-serif;
}
.lineaTitle{
    background: #FF0034;
    height: 0.5vw;
    width: 80%;
    position: relative;
    top: -7px;
    margin-top: 0.5rem;

}
.textoCourseAside > h2{
    margin: 0;
}
.contenedorDatosCourseAside{
    display: flex;
    margin-top: 2vw;
}
.textoCourseAside{
        margin-right: 4vw;
}
.contenedorBtnClose{
    justify-content: flex-end;
    display: flex;
}
.fa-times{
    font-size: 30px;
    cursor: pointer;
}
.btnInscripcion{
        width: 10vw;
    height: 3vw;
    background: #ff0034;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2vw;
}
.cursoModal {
    border-radius: 10px;
    width: 10vw;
    height: 10vw;
    background-position: center;
    background-size: cover;
}
.contenedorInformacionModal{
    display: flex;
}

.cursoModalTitle{
  font-family: 'Anton', sans-serif;
  margin: 0;
}

.cursoModalSubtitle{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    font-size: 20px;
    margin-left: 12px;
}

.cursoModalSubtitle > span{
    margin-left: 5px;
}

.videoDash{
    width: 77%;
}

.sobreVideo{
    position: absolute;
    width: 100%;
    backdrop-filter: brightness(0.2);
    height: 89%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.sobreVideo > h1{
        color: white;
    font-weight: bold;
    font-family: 'Anton';
    font-size: 9vw;
  margin-left: 14vw;
}

.sobreVideo > a > button{
    margin-left: 14vw;
    margin-top: 4vw;
    width: 21vw;
    height: 4vw;
    background: #ff0034;
    color: white;
    border: none;
    border-radius: 2vw;
    font-size: 2vw;
        font-family: 'Anton';
}

.contenedorCursoDashboard{
    background: #080d13;
    color: white;
    border-radius: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 23vw;
}
.tituloCursoDashboard{
    font-family: "Anton";
    padding: 20px;
}

.fotoCursoDashBoard{
    width: 100%;
    height: 15vw;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.contenedorDatosCursoDashBoard{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
    margin-top: 4vw;
    justify-content: center;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.loader > .spinner-border{
        display: inline-block;
    width: 6rem;
    height: 6rem;
    vertical-align: -0.125em;
    border: 0.25em solid currentColor;
    border-right-color: #ff0034;
    border-radius: 50%;
    animation: 0.75s linear infinite spinner-border;

}


.fotoPortadaCourse {
    background-image: url("http://baravdg.com/wp-content/uploads/2021/05/pexels-li-sun-2294361-1-scaled.jpg");
     background-size: cover;
    background-position: center;
    height: 29vw;
    display: flex;
    align-items: center;
}

.titlePrincipal{
    color: white;
    font-size: 4rem;
    margin-left: 7vw;
}

/* Responsive lista de cursos*/

@media only screen and (min-device-width : 676px) and (max-device-width : 1200px) {
   
    .videoDash{
        width: 100%;
      height: 67vw;
    }
    
    .nombreProfesor {
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        margin-left: 10px;
    }   

    .contenedorCursoDashboard{
        background: #080d13;
        color: white;
        border-radius: 1vw;
        margin: 3vw;
        width: 36vw;
    }

    .fotoProfesor{
        width: 6vw;
         height: 6vw;
    }
    .tituloCursoDashboard {
    font-family: "Anton";
    padding: 10px;
    }
    .fotoCursoDashBoard {
    width: 100%;
    height: 21vw;
    }

    .sobreVideo{
    width: 100vw;
    backdrop-filter: brightness(0.2);
    height: 66vw;
    justify-content: center;

    }

    .videoDash {
    width: 100%;
    }
    .contenedorAsideNav{
            width: 86vw;
            height: 63vw;
    }
    .contenedorCourseAndSideBar{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 2vh;
        z-index: 1;
    }
    .contenedorInscripcionCursos{
        width: 100%;
        display: flex;
        justify-content: center;
       
    }
    .contenedorCurso{
        display: flex;
        flex-direction: column;
        align-items: center;
         width: 89%;
        
    }
    .fotoCurso{
        height: 20rem;
        background-size: cover;
    }
    
    .btnDashBoard{
        width: 10rem;
        height: 3rem;
    }
    
    .titleContenedorAside{
        width: 100%;
    }
    .cursoModalTitle {
    font-size: 3vw;
    }
    .logoDashBoard{
        width: 2rem;
        height: 2rem;
        margin: 0.5em;
    }

  
    .titleContenedorAside{
        font-size: 1.4rem;
        margin: 5px 0px 5px 0px;
    }
    .nameTitleAside{
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .lineaTitle{
        width: 80%;
        margin-top: 1vh;
    }
    .textoCourseAside{
        font-size: 0.9rem;
    }

    .btnInscripcion {
    height: 5vh;
    width: 22vw;
    margin: 1vh;
}

 
 
}

@media only screen and (min-device-width : 590px) and (max-device-width : 676px){
   
    .contenedorAsideNav{
         position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 20vw;
        background: #080d13f5;
    }
    .btnInscripcion{
        margin-top: 4vw;
    }
    .titlePrincipal {
    color: white;
    font-size: 3rem;
    margin-left: 11vw;
    }

    .fotoPortadaCourse{
        height: 46vw;
    }
   
    .videoDash {
    width: 99%;
    height: 77vw;
    }
    
    .sobreVideo > h1 {
    margin-top: 16vw;
    }

    .contenedorDatosCursoDashBoard{
        flex-direction: column;
        align-items: center;
    }
    .contenedorCursoDashboard{
        width: 57vw;  
        margin-top: 5vw;
    }
    .btnDashBoard {
        width: 39vw;
        height: 9vw;
    }

     .fotoCursoDashBoard {
        height: 41vw;
    }

     .contenedorCurso {
    width: 75vw;
}

.contenedorInscripcionCursos{
    justify-content: center;
}
 .fotoCurso {
    height: 53vw;
}


    .btnInscripcion {
  width: 18vw;
    height: 7vw;
}
}

@media only screen and (min-device-width : 425px) and (max-device-width : 590px) {
   
       .btnInscripcion {
  width: 18vw;
    height: 7vw;
}
   
    .videoDash {
        width: 98vw;
        height: 88vw;
    }
   .contenedorDatosCursoDashBoard{
        flex-direction: column;
        align-items: center;
    }
    .contenedorCursoDashboard{
        width: 73vw;
         margin: 6vw
    }
    .btnDashBoard {
        width: 34vw;
         height: 11vw;
    }

    .fotoCursoDashBoard {
        height: 41vw;
    }
    .navbar{
        z-index: 1;
    }

    .fotoCurso {
    height: 53vw;
}

    .ContenedorPresentacion{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #030304    
}

    .sobreVideo{
     height: 184vw;
    justify-content: center;

    }

    .videoDash {
   width: 220vh;
    }


    .sobreVideo > h1{
          font-size: 9vw;
    }

    .sobreVideo > a > button {
    width: 45vw;
    height: 13vw;
    font-size: 5vw;
    margin-top: 7vw;
}

 .contenedorCurso {
    width: 75vw;
}

.contenedorInscripcionCursos{
    justify-content: center;
}


 .fotoPortadaCourse{
         height: 56vw;
         
 }

 .titlePrincipal {
    color: white;
    font-size: 3rem;
    margin-left: 13vw;
}

}
@media only screen and (min-device-width : 100px) and (max-device-width : 425px){

 .btnInscripcion {
    width: 39vw;
    height: 8vw;
}

  .cursoModalTitle {
    font-size: 20px;
    }

  
    .contenedorDatosCursoDashBoard{
        flex-direction: column;
        align-items: center;
    }
    .contenedorCursoDashboard{
        width: 73vw;
         margin: 6vw
    }
    .btnDashBoard {
        width: 34vw;
         height: 11vw;
    }

    .fotoCursoDashBoard {
        height: 41vw;
    }
    .navbar{
        z-index: 1;
    }

    .fotoCurso {
    height: 53vw;
}

    .ContenedorPresentacion{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #030304    
}

    .sobreVideo{
     height: 184vw;
    justify-content: center;

    }

    .videoDash {
   width: 220vh;
    }


    .sobreVideo > h1{
          font-size: 9vw;
    }

    .sobreVideo > a > button {
    width: 45vw;
    height: 13vw;
    font-size: 5vw;
    margin-top: 7vw;
}

.contenedorCurso {
    width: 76vw;
}

 .fotoProfesor{
      width: 13vw;
    height: 13vw;
    margin-left: 17px;
 }

}


