.logoDashBoard{
    height: 8vh;
    margin:1vh;
}

.DashBoardfotoUsuario{
    width: 3vw;
    border-radius: 50%;
}

.fotoCurso{
    width: 100%;
    height: 15vw;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.ContenedorDeLosCursos{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 6vw;
}

.contenedorCurso{
    box-shadow: 1px 1px 5px 0px #000000a6;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    width: 21vw;
        margin-top: 10px;
    margin-bottom: 16px;
}

.tituloDasboard{
    text-align: center;
}

.contenedorBtn{
    display: flex;
    justify-content: center;
    margin: 20px;

}

.btnDashBoard{
    border: none;
    background: FF0034;
    background: #FF0034;
    color: white;
    width: 11vw;
    height: 3vw;
    border-radius: 10px;
    box-shadow: 1px 1px 9px 2px #ff0034;
}

.fotoProfesor{
    width: 4vw;
    height: 4vw;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.contenedorDatosCardCurso{
    margin-left: 18px;
    margin-bottom: 14px;
    margin-top: 19px;
}

.tituloCurso{
    font-family: 'Anton', sans-serif;
}

.fotoProfesorNombre{
    display: flex;
    align-items: center;
}

.nombreProfesor {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 10px;
}
.contenedorCourseAndSideBar{
    display: flex;
        margin: 39px;
    justify-content: center;    
}
.contenedorInscripcionCursos{
    display: flex;
    align-items: center;
    top: 6vw;
    align-items: flex-start;
        flex-wrap: wrap;
}

.courseList{

    top: 0px;
}
.contenedorInfoCurso{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 16px;
    
}
.contenedorInfoCurso > h2{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}
.contenedorInfoCurso > p{
    margin-bottom: 0;
    margin-left: 10px;
}

.contenedorBtnInscripcion{
    display: flex;
    margin: 20px;
}
.contenedorAsideNav{
    width: 30vw;
    position: sticky;
     height: 48vw;
    background:#080D13;
    margin-right: 0;
    margin-left: auto;
    color: white;
    padding: 23px;
    bottom: 39px;
    top: 0px;
     overflow: overlay;
}
.titleContenedorAside{
  font-family: 'Anton', sans-serif;
}

.nameTitleAside{
        font-family: 'Roboto', sans-serif;
}
.lineaTitle{
    background: #FF0034;
    height: 0.5vw;
    width: 80%;
    position: relative;
    top: -7px;
    margin-top: 0.5rem;

}
.textoCourseAside > h2{
    margin: 0;
}
.contenedorDatosCourseAside{
    display: flex;
    margin-top: 2vw;
}
.textoCourseAside{
        margin-right: 4vw;
}
.contenedorBtnClose{
    justify-content: flex-end;
    display: flex;
}
.fa-times{
    font-size: 30px;
    cursor: pointer;
}
.btnInscripcion{
        width: 10vw;
    height: 3vw;
    background: #ff0034;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2vw;
}
.cursoModal {
    border-radius: 10px;
    width: 10vw;
    height: 10vw;
    background-position: center;
    background-size: cover;
}
.contenedorInformacionModal{
    display: flex;
}

.cursoModalTitle{
  font-family: 'Anton', sans-serif;
  margin: 0;
}

.cursoModalSubtitle{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    font-size: 20px;
}

.cursoModalSubtitle > span{
    margin-left: 5px;
}
.modalTextContent{
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 10px;
}

.fotoPortadaCourse {
    background-image: url("http://baravdg.com/wp-content/uploads/2021/05/pexels-li-sun-2294361-1-scaled.jpg");
     background-size: cover;
    background-position: center;
    height: 29vw;
    display: flex;
    align-items: center;
}

.titlePrincipal{
    color: white;
    font-size: 4rem;
    margin-left: 7vw;
}
.contenedorClase{
    width: 71vw;
    margin-bottom: 23px;
    margin-top: 23px;
    background: #F7F7F7;
    box-shadow: 0 5px 25px 10px rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    height: 5vw;
    padding: 20px;
    justify-content: space-between;
}

.btnClass{
    width: 14vw;
    border: 1px solid #FF0034;
    border-radius: 20vw;
    background: white;
    font-family: 'Roboto';
    padding: 6px;
    font-weight: bold;
}

.classContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleClass{
     font-family: 'Roboto';
    font-weight: bold;
    font-size: 29px;
}

.contenedorFrame {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive lista de cursos*/


@media only screen and (min-device-width : 300px) and (max-device-width : 450px) {

.contenedorCourseAndSideBar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 2vh;
}
.contenedorInscripcionCursos{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.contenedorCurso{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.fotoCurso{
    height: 10rem;
    background-size: cover;

}

.btnDashBoard{
    width: 10rem;
    height: 3rem;
}

.titleContenedorAside{
    width: 100%;
}
.cursoModalTitle{
    font-size: 20px;
}
.logoDashBoard{
    width: 2rem;
    height: 2rem;
    margin: 0.5em;
}
.contenedorAsideNav{
    width: 100%;
    height: 50%;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.titleContenedorAside{
    font-size: 1.4rem;
    margin: 5px 0px 5px 0px;
}
.nameTitleAside{
    font-size: 1.2rem;
}
.lineaTitle{
    width: 80%;
    margin-top: 1vh;
}
.textoCourseAside{
    font-size: 0.9rem;
}
.btnInscripcion{
    height: 5vh;
    width: 30vw;
    margin:1vh;
}

}

@media only screen and (min-device-width : 701px) and (max-device-width : 1800px) {
    .contenedorCourseAndSideBar{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 2vh;
        z-index: 1;
    }
    .contenedorInscripcionCursos{
        width: 100%;
        display: flex;
        justify-content: center;
       
    }
    .contenedorCurso{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: 45%;
        
    }
    .fotoCurso{
        height: 20rem;
        background-size: cover;
    }
    
    .btnDashBoard{
        width: 10rem;
        height: 3rem;
    }
    
    .titleContenedorAside{
        width: 100%;
    }
    .cursoModalTitle{
        font-size: 20px;
    }
    .logoDashBoard{
        width: 2rem;
        height: 2rem;
        margin: 0.5em;
    }
    .contenedorAsideNav{
        width: 100%;
        z-index: 1;
        position: fixed;
    }
    .contenedorAsideNav{
        width: 100%;
        height: 50%;
        z-index: 1;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .titleContenedorAside{
        font-size: 1.4rem;
        margin: 5px 0px 5px 0px;
    }
    .nameTitleAside{
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .lineaTitle{
        width: 80%;
        margin-top: 1vh;
    }
    .textoCourseAside{
        font-size: 0.9rem;
    }
    .btnInscripcion{
        height: 5vh;
        width: 30vw;
        margin:1vh;
    }

}



@media only screen and (min-device-width : 451px) and (max-device-width : 700px) {
    .contenedorCourseAndSideBar{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 2vh;
    }
    .contenedorInscripcionCursos{
        width: 100%;
        display: flex;
        justify-content: center;
       
    }
    .contenedorCurso{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .fotoCurso{
        height: 20rem;
        background-size: cover;
    
    }
    
    .btnDashBoard{
        width: 10rem;
        height: 3rem;
    }
    
    .titleContenedorAside{
        width: 100%;
    }
    .cursoModalTitle{
        font-size: 20px;
    }
    .logoDashBoard{
        width: 2rem;
        height: 2rem;
        margin: 0.5em;
    }
    .contenedorAsideNav{
        width: 100%;
        z-index: 1;
        position: fixed;
    }
    .contenedorAsideNav{
        width: 100%;
        height: 100%;
        z-index: 1;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .titleContenedorAside{
        font-size: 1.4rem;
        margin: 5px 0px 5px 0px;
    }
    .nameTitleAside{
        font-size: 1.2rem;
    }
    .lineaTitle{
        width: 80%;
        margin-top: 1vh;
    }
    .textoCourseAside{
        font-size: 0.9rem;
    }
    .btnInscripcion{
        height: 5vh;
        width: 30vw;
        margin:1vh;
    }
}
