.signUpContainer{
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formSign{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  margin-top: 10vh;
  padding: 1em;
  justify-content: space-around;
  width: 60%;
}

.signInput{
  width: 90%;
  margin: 1vh 1vh;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid black;
  padding: 3px;
  letter-spacing: 1px;
  font-size: large;
}

.errorInput{
  width: 90%;
  margin: 1vh 1vh;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid red;
  padding: 3px;
  letter-spacing: 1px;
  font-size: large;
}