.contenedorPosteos{
    display: flex;

    justify-content: center;
}

.contenedorBienvenidaUsuario{
     display: flex;
    align-items: center;
    width: 44vw;
    justify-content: center;
    height: 5vw;
    cursor: pointer;
    border-radius: 30px;
}

.barraBuscadora{
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 47vw;
    display: flex;
}

.contenedorBtnTextArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F7F7;
    padding: 23px;
    border-radius: 1vw;
}

.contenedorBtnTextArea:hover{
    box-shadow: 0 5px 25px 10px rgb(0 0 0 / 15%);
}

.contenedorPost:hover{
    box-shadow: 0 5px 25px 10px rgb(0 0 0 / 15%);
}


.contenedorTextArea{
    width: 51vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputPost{
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 3vw;

}

.postYtitulo{
    box-shadow: 0 5px 25px 10px rgb(0 0 0 / 15%);
    padding: 37px;
    border-radius: 15px;
    width: 75%;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.tituloForm {
    font-family: "Anton";
    margin-bottom: 0;
    margin-left: 14px;
}

.btnForm{
    width: 12vw;
    font-weight: bold;
    height: 3vw;
}

.textAreaConsulta{
    width: 100%;
    border: 1px solid #e5e5e5;
     height: 11vw;
}

.inputSearch{
     width: 95%;
    height: 3vw;
}

.contenedorComentarios{
    margin-top: 2vw;
    overflow: auto;
    height: 36vw;
}

.contenedorPost{
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    padding: 23px;
    border-radius: 1vw;
    width: 48vw;
    margin-bottom: 3vw;
}
.comentarioFotoUser{
    width: 4vw;
    border-radius: 50%;
}

.contenedorNameUser{
    display: flex;
}

.contedorDatosUsuario{
    display: flex;
    align-items: center;
        margin-left: 14px;
}

.contenedorIconoSearch{
       background-color: #FF0034;
    width: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.6vw;
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
}

.tituloPost{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 2vw;
}

.contenedorNameUser >h3{
        margin-left: 5px;
}

.contenedorComentario{
    margin-top: 15px;
    margin-left: 11px;
    font-size: 1.4vw;
}

.replyBtn{
    display: flex;
    align-items: center;
}

.replyBtn > p{
 margin-bottom: 0;
 margin-left: 10px;
}

.replyBtn:hover{
   color: #FF0034;
   cursor: pointer;
}

.inputComment{
    display: flex;
    width: 85%;
    border-radius: 5vw;
    border: none;
    height: 3vw;
    padding: 20px;
}

.contenedorInputComment{
   margin-top: 54px;
    box-shadow: -1px -1px 7px 0px #0000003d;
    display: flex;
        border-radius: 5vw;
}

.contenedorReply{
    display: flex;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 10px;
    width: 40vw;
    box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 35%);
    border-radius: 3vw;
}

.contenedorDatosUserReply{
    margin-left: 1vw;
    
}
.contenedorDatosUserReply > h5{
    margin-bottom: 0;
}
.contenedorDatosUserReply > p{
    margin-bottom: 0;
}
.btnOpciones{
    background: none;
    color: black;
    border: none;
    box-shadow: none;
    margin-left: 10px;
}

.btnOpciones:focus{
    background: none;
    color: black;
    border: none;
    box-shadow: none;
}

.btnOpcionED{
  border: none;
  background: white;
  margin-top: 4px;
  margin-bottom: 4px;
}

.btnOpcionED:hover{
  background: #F2F2F2;
  width: 100%;
    align-items: baseline;
    color: #FF0034;
}
.popover-body{
  display: flex;
flex-direction: column;
    align-items: baseline;
}
.popover{
  z-index: 0;
}

.contenedorEditorYcomentario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}   

.inputEdit{
        border: none;
    background: none;
}

.btnSendEdit{
    border: none;
    background: none;
    color:#FF0034;
}

.contenedorInputEdit{
     background: white;
    border-radius: 3vw;
    border: 1px solid #ff0034;
    width: 15vw;
}
.bg-dark {
    background-color: #080D13 !important;
}
.titleInternalForm{
    font-size: 2vw;
}

.contenedorChat{
    width: 98vw;
    height: 100vh;
}

.contenedorBannerForo{
    background-image: url("http://baravdg.com/wp-content/uploads/2021/05/Diseno-sin-titulo-22.jpg");
     background-size: cover;
    background-position: center;
    height: 34vw;
    width: 27vw;
    position: relative;
    right: 5vw;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    margin-top: 2vw;
}

.titleHelp {
    font-size: 2vw;
    color: white;
    font-family: "Anton";
    margin-left: 2vw;
}

.contenedorBtnyTextBanner{
    margin-bottom: 3vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.spaceBtnForo{
     margin-top: 14px;
}

.spaceBtnQuery{
    position: relative;
    top: 19px;
}

.contenedorTextAreaEdit{
    width: 31vw;
    display: flex;
    flex-direction: column;
}

.textAreaEdit{
     width: 44vw;
    height: 7vw;
     border: 1px solid #ff0034;
     padding: 10px;
}

.btnTextAreaEdit{
    border: none;
    background: FF0034;
    background: #FF0034;
    color: white;
    width: 11vw;
    height: 3vw;
    border-radius: 10px;
    box-shadow: 1px 1px 9px 2px #ff0034;
    margin-top: 11px;
    
}

.contenedorEditInputs{
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
     margin-left: 14px;
}

.btnModificarInputs{
     margin-bottom: 2vw;
    margin-right: 0;
    margin-left: auto;
    font-size: 2vw;
    background: none;
    color: black;
    border: none;
}

.inputTitle{
    width: 88%;
    height: 3vw;
    border: none;
    border: 1px solid #ff0034;
    padding: 10px;

}

#btnTitle{
    border: none;
    background: #ff0034;
    color: #ffffff;
    border-radius: 0vw;
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#btnText{
        border: none;
    background: #ff0034;
    color: #ffffff;
    border-radius: 0vw;
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
        margin-top: 10px;
}

.fas{
    margin-right: 0;
}

@media screen and  (max-width:1000px)  and  (min-width:700px) {

        .contenedorComentarios {
            height: 59vw;
        }
        .contenedorComentarioYbuscador{
                width: 65vw;
        }
        .contenedorBannerForo{
            height: 42vw;
            width: 26vw;
        }
        .spaceBtnForo{
            margin-top: 14px;
            height: 4vw;
        }
        .inputSearch {
            width: 102%;
            height: 4vw;
            padding: 10px;
        }
        .contenedorComentario > p{
            font-size: 20px;
        }

    }
@media screen and  (max-width:700px)  and  (min-width:200px) {
   

    .contenedorBtnTextArea{
            width: 93vw;
    }

    .contenedorPosteos{
            flex-direction: column-reverse;
            align-items: center;
    }
    .barraBuscadora{
               width: 80vw;
    }
    .inputSearch{
        height: 7vw;
    }
    .tituloForm{
        font-size: 3vw;
    }
    .contenedorComentarios{ 
         height: 127vw;
    }

    .contenedorIconoSearch{
           height: 7vw;
        width: 10vw;
    }

    .comment{
         height: 9vw;
    } 

    .contenedorPost {
           width: 93vw;
    }

    .contenedorBannerForo{
            height: 49vw;
            width: 103vw;
    }

      .titleHelp {
    font-size: 6vw;
    margin-bottom: 2vw;
    }

    .postYtitulo {
        margin-top: 9vw;
        width: 91%;
    }
    .inputPost{
         height: 5vw;
    }
    .btnForm {
    width: 26vw;
    font-weight: bold;
    height: 6vw;
    }
    .titleInternalForm {
    font-size: 5vw;
    }
    .tituloPost{
        font-size: 5vw;
    }
    .contenedorComentario {
    font-size: 3.4vw;
    }
    .comentarioFotoUser {
    width: 9vw;
}

    .contenedorEditorYcomentario{
        width: 74vw;
            margin-top: 4vw;
    }

    .contenedorReply {
            width: 67vw;
    }

    .contenedorDatosUserReply > h5 {
    padding: 0;
}

    .fotoProfesor{
        width: 10vw;
    height: 10vw;
    }

    #btnTitle{
            width: 6vw;
    height: 5vw;
    }

      #btnText{
            width: 6vw;
    height: 5vw;
    }

    .textAreaEdit{
         width: 68vw;
        height: 22vw;
    }
}