.contenedorPosteos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedorBienvenidaUsuario{
     display: flex;
    align-items: center;
    width: 44vw;
    justify-content: center;
    height: 5vw;
    cursor: pointer;
    border-radius: 30px;
}

.barraBuscadora{
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 47vw;
    display: flex;
}

.contenedorBtnTextArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F7F7;
    padding: 23px;
    border-radius: 1vw;
}

.contenedorBtnTextArea:hover{
    box-shadow: 0 5px 25px 10px rgb(0 0 0 / 15%);
}

.contenedorTextArea{
    width: 51vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputPost{
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 3vw;

}

.postYtitulo{
    box-shadow: 0 5px 25px 10px rgb(0 0 0 / 15%);
    padding: 37px;
    border-radius: 15px;
    width: 75%;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.tituloForm {
    font-family: "Anton";
    margin-bottom: 0;
    margin-left: 14px;
}

.btnForm{
    width: 12vw;
    font-weight: bold;
    height: 3vw;
}

.textAreaConsulta{
    width: 100%;
     border: 1px solid #e5e5e5;
}

.inputSearch{
     width: 95%;
    height: 3vw;
}

.contenedorComentarios{
    margin-top: 4vw;
}

.contenedorPost{
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    padding: 23px;
    border-radius: 1vw;
    width: 48vw;
    margin-bottom: 3vw;
}
.comentarioFotoUser{
    width: 4vw;
    border-radius: 50%;
}

.contenedorNameUser{
    display: flex;
}

.contedorDatosUsuario{
    display: flex;
    align-items: center;
}

.contenedorIconoSearch{
       background-color: #FF0034;
    width: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.6vw;
}

.tituloPost{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 3vw;
    margin-bottom: 2vw;
}

.contenedorNameUser >h3{
        margin-left: 5px;
}

.contenedorComentario{
    margin-top: 15px;
    margin-left: 11px;
    font-size: 1.4vw;
}

.replyBtn{
    display: flex;
    align-items: center;
}

.replyBtn > p{
 margin-bottom: 0;
 margin-left: 10px;
}

.replyBtn:hover{
   color: #FF0034;
   cursor: pointer;
}

.inputComment{
    margin-top: 54px;
    box-shadow: -1px -1px 7px 0px #0000003d;
    display: flex;
    border-radius: 5vw;
}

.contenedorInputComment{
        margin-top: 54px;
            margin-top: 54px;
    box-shadow: -1px -1px 7px 0px #0000003d;
}

