html *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.home{
    height: 100vh;
}
.img-home{
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
    object-fit: cover ;
    width: 100%;
    height: 80vh;
}
.logo{
    height: 10vh;
    padding:1vh;
}
.title{
    color:white;
    font-size: 10vh;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding:0px 40px 0px 40px; 
    
}
.link-footer{
    display: flex;
    justify-content:center;
   
}   
.link{
   padding: 2vh;
   text-decoration:none;
   color: white;
   font-size: 2vh;
   margin-top: 1vh;
   font-family: 'Roboto', sans-serif;
}
.information{
    display: flex;
    align-items: center;
    width: 95vw;
    font-family: 'Roboto', sans-serif;
}
.img-info{
    height: 8vh;
}
.img-social{
    height:10vh;
    padding: 1vh;
}
.info-ind{
    margin:4vh;
    padding:2vh;
}

.fa-facebook-square{
    padding: 1vh;
    color:white;
    font-size: 4vh;
}
.fa-whatsapp-square{
    padding: 1vh;
    color:white;
    font-size: 4vh;
}
.fa-instagram-square{
    padding: 1vh;
    color:white;
    font-size: 4vh;
}
.video{
    width: 80vh;
}
.active{
    color:red;
  }
.subtitulo{
    font-size: 4vh;
    font-family: 'Roboto', sans-serif;
}
.parrafo{
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
}
.texto{
    width: 40vh;
}

.img-rp{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1vh;
}
.img-r{
    height: 10vh;
    padding:1vh;
}
.barras-logo{
    width: 45vw;
    margin-top: 30vh;
    height: 18vh;
}
.titulo{
    color:white;
    font-size: 5vh; 
    margin-top:-17vh;
    padding: 1vh;
}