html *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.home{
    height: 100vh;
}
.img-home{
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
    object-fit: cover ;
    width: 100%;
    height: 80vh;
}
.logo{
    height: 8vh;
    margin:1vh;
}
.title{
    color:white;
    font-size: 10vh;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding:0px 40px 0px 40px; 
    
}
.link-footer{
    display: flex;
    justify-content:center;
   
}   
.link{
   padding: 2vh;
   text-decoration:none;
   color: white;
   font-size: 2vh;
   margin-top: 1vh;
   font-family: 'Roboto', sans-serif;
}

.information{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    width: 99.1vw;
    font-family: 'Roboto', sans-serif;
    background: rgb(255,250,250);
    background: linear-gradient(0deg, rgba(255,250,250,0.989233193277311) 21%,
     rgba(136,130,130,1) 53%, rgba(0,0,0,1) 100%);
    
}
.img-info{
    height: 8vh;
    margin: 2vh;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 27%);
}
.img-social{
    height:10vh;
    padding: 1vh;
}

.fa-facebook-square{
    padding: 1vh;
    color:white;
    font-size: 4vh;
}
.fa-whatsapp-square{
    padding: 1vh;
    color:white;
    font-size: 4vh;
}
.fa-instagram-square{
    padding: 1vh;
    color:white;
    font-size: 4vh;
}
.fa-discord{
    padding: 1vh;
    color:white;
    font-size: 3.8vh;

}
.franjaroja{
    width: 50vw;
  
}
.active{
    color:red;
  }
.subtitulo{
    font-size: 4vh;
    font-family: 'Roboto', sans-serif;
}
.parrafo{
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
}
.texto{
    width: 40vh;
}

.img-rp{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 2vh;
}
.img-r{
    height: 10vh;
    padding:1vh;
}
.barras-logo{
    width: 45vw;
    margin-top: 30vh;
    height: 18vh;
}
.titulo{
    color:white;
    font-size: 7vh; 
    margin-top:-19.5vh;
    padding: 2vh;
    font-family: 'Anton', sans-serif;
}
.fondo-txt{
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 24px;
}
.fondo-info{
    display: flex ;
    justify-content: center;
    padding: 3vh;
   
}
.info-ind{
    padding: 1vh;
    font-family: 'Roboto', sans-serif;
    justify-content: center;

}
.info-ind h2{
    font-family: 'Anton', sans-serif;
 }
.title-category{
    color: white;
    font-family: 'Anton', sans-serif;
    padding: 2vh;
}
.txt-inv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2vh;
    font-family: 'Anton', sans-serif;
    height: 30vh;
}
.img-f{
    width: 35vw;
    border-radius: 15px;
}
.info-in{
    display: flex;
    background-color: black;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 70vh;
}
    
.btn-home{
    border: none;
    background: #FF0034;
    color: white;
    width: 11vw;
    height: 3vw;
    border-radius: 10px;
    box-shadow: 1px 1px 9px 2px #FF0034;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1rem;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.fondo-inv{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 19%, rgba(136,130,130,1) 62%, rgba(255,250,250,0.9220063025210083) 93%);
    height: 50vh;
    display: flex;
    justify-content: center;
    color: white; 
}
.cartel-rojo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff0034;
    border-radius: 15px;
    width: 50%;
    padding: 26px;
    text-align: center;
    font-family: "Anton";
}
.txt-cartelrojo{
    display: flex;
    align-items: center;
   font-size: 2rem;
    color:white;
}
.txt-cartelrojo p , h5{
    padding: 1rem;
}
#video{
    width: 38vw;
    position:absolute;
    margin: 5vh;
}
.fondo-videoTM{
    background-image: url("http://baravdg.com/wp-content/uploads/2021/05/rayas-red-izq-1.png") ;
    background-size: cover;
    height: 65vh;
    width: 50vw;
}
.more-info{
    width: 30%;
    color: white;
}
.more-info p{
   font-size: 2.5vh;
   font-family: 'Roboto';
}
.more-info h2{
    font-size: 4.5vh;
    font-family: 'Anton', sans-serif; 
 }           




@media only screen and (min-device-width : 300px) and (max-device-width : 1000px) {
   .img-f{
       display: none;
   }
   .fondo-txt{
       display: flex;
       flex-direction: column;
       width: 100%;
   }
   .titulo{
       font-size: 1.2rem;
       padding:1.3rem;
   }
   .img-home{
       background-position: center;
   }
   .info-in{
       display: flex;
       flex-direction: column-reverse;
       width: 100vw;
   }
   .more-info{
       width: 84%;
       margin: 1rem;
   }
   #video{
       width: 85vw;   
   }
   .img-rp{
       display: flex;
       justify-content: space-around;
       padding: 0;
   }
   .img-r{
       height: 5vh;
       padding:0;
       margin:0;
   }
   .info{
       width: 100%;
   }
   .cartel-rojo h4{
    font-size: 1rem;
   }
   .cartel-rojo{
       width: 85vw;
   }
   .btn-home{
        width: 3.5rem;
        height: 2rem;
   }
   .txt-call{
       font-size: 1.2rem;
       margin: 1.2rem;
       margin-top: 2rem;
   }
   .information{
       width: 100%;
   }
   .fondo-videoTM{
   }
   
   
       
   


  
}

