.fotoCardJob{
 width: 16vw;
height: 12vw;
    background-position: center;
    background-size: cover;
}


.contenedorCardJob{
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 44%);
    padding: 3vw;
    height: 33vw;
}

.contenedorPrincipalCardsJobs{
        display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4vw;
    margin-bottom: 4vw;
}
.titleJob{
    font-family: "Anton";
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleBussines{
     font-size: 17px;
    font-family: 'Roboto';
    font-weight: bold;
        margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and  (max-width:1000px)  and  (min-width:700px) {
    .contenedorCardJob {
    padding: 2vw;
    height: 46vw;  
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .asideNav {
    width: 9%;
    }
       .fotoCardJob{
        width: 29vw;
    height: 27vw;
    }
}

@media screen and  (max-width:700px)  and  (min-width:381px) {
   
    .heroJobs{
         height: 46vw;
    }
   .heroJobs > h1 {
    font-size: 3rem;
}
   
    .contenedorCardJob {
    padding: 2vw;
    height: 74vw;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .asideNav {
    width: 9%;
    }

    .fotoCardJob{
        width: 39vw;
    height: 29vw;
    }
}

@media screen and  (max-width:381px)  and  (min-width:200px) {
   
    .heroJobs{
         height: 46vw;
    }
   .heroJobs > h1 {
    font-size: 3rem;
}
   
    .contenedorCardJob {
     padding: 3vw;
     height: 97vw;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    }


    .fotoCardJob{
        width: 52vw;
    height: 32vw;
    }
}