.fotoCardJob{
 width: 16vw;
height: 12vw;
    background-position: center;
    background-size: cover;
}


.contenedorCardJob{
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 44%);
    padding: 3vw;
    height: 33vw;
}

.contenedorPrincipalCardsJobs{
        display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4vw;
    margin-bottom: 4vw;
}
.titleJob{
    font-family: "Anton";
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleBussines{
     font-size: 17px;
    font-family: 'Roboto';
    font-weight: bold;
        margin-top: 10px;
    margin-bottom: 10px;
}